@page "/"

<PageTitle>Start</PageTitle>

<h1>Приложение для управлением материальным обеспечением учебного процесса</h1>
<p>Описание:Данное приложение необходимо для управления материальным положением учебного заведения. </p>




